<!-- content body -->
<div class="row">
	<div class="col">
		&nbsp;
	</div>
</div>
<div class="row">
 <div class="col-md-12">
  <div class="card mb-6 shadow-sm">
   <div class="card-body">
    <p style="color: #000;">COMING SOON!</p>
   </div>
  </div>
 </div>
</div>
<div class="row">
	<div class="col">
		&nbsp;
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<div class="card mb-6 shadow-sm">
      <div class="card-body">
				<div class="fb-page" data-href="https://www.facebook.com/DragonCourtMobile/" data-tabs="timeline,messages" data-width="300" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/DragonCourtMobile/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/DragonCourtMobile/">Dragon Court Mobile</a></blockquote></div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col">
		&nbsp;
	</div>
</div>

<div class="row">
	<div class="col">
		<form action="https://www.paypal.com/donate" method="post" target="_top">
			<input type="hidden" name="cmd" value="_donations" />
			<input type="hidden" name="business" value="BAKK88N5XCSRA" />
			<input type="hidden" name="currency_code" value="USD" />
			<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
			<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
		</form>
	</div>
</div>
<!-- / content body -->
