<form id="registration">
	<h1 class="mb-3 font-weight-normal">Registration</h1>
	<input type="text" id="inputUsername" class="form-control" name='username' placeholder="Username" required autofocus>
      
	<input type="email" id="inputEmail" class="form-control" name='email' placeholder="Email address" required autofocus>
      
	<input type="password" id="inputPassword" class="form-control" name='password' placeholder="Password" required>
      
	<button id="register" class="btn btn-lg btn-primary btn-block" name="submit" type="submit">Register</button>
</form>
