<!DOCTYPE html>
<head>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Almendra+SC&family=Amarante&family=Buda:wght@300&family=Calligraffitti&family=Euphoria+Script&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/game.css">
	<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
	<link rel="manifest" href="/images/site.webmanifest">
	<script>
		window.Items = [];
		
		{{#each Items}}
			window.Items.push({
				id: {{ id }},
				name: "{{name}}",
				region: "{{region}}",
				shop: "{{shop}}",
				guts: {{ guts }},
				wits: {{ wits }},
				charm: {{ charm }},
				attack: {{ attack }},
				defend: {{ defend }},
				skill: {{ skill }},
				cost: {{ cost }},
				func: "{{ func }}",
				equippable: {{ equippable }},
				lvl: {{ lvl }},
				maxEnchants: {{ max_enchants }},
				dropRate: {{ drop_rate }},
				isSilver: {{ is_silver }},
				isCrystal: {{ is_crystal }}
			});
		{{/each}}
		window.User = {
			id: {{User.id}},
			name: "{{User.name}}",
			email: "{{User.email}}",
			firstRun: {{User.firstRun}},
			hasChar: {{User.hasChar}},
			chat: {{User.chat}},
			token: "{{User.token}}"
		};

		window.Player = {
			id: {{Player.data.id}},
			owner: {{Player.data.owner}},
			region: "{{Player.data.region}}",
			class: "{{Player.data.class}}",
			background: "{{Player.data.background}}",
			alliance: {{Player.data.alliance}},
			effects: "{{Player.data.effects}}",
			stats: {
				guts: {{Player.data.guts}},
				gutsMax: {{Player.data.max_guts}},
				wits: {{Player.data.wits}},
				witsMax: {{Player.data.max_wits}},
				charm: {{Player.data.charm}},
				charmMax: {{Player.data.max_charm}},
				attack: {{Player.data.attack}},
				defend: {{Player.data.defend}},
				skill: {{Player.data.skill}},
			},
			skill: {
				fighter: {
					skill: {{Player.data.skill_fighter}},
					max: {{Player.data.skill_fighter_max}}
				},
				magic: {
					skill: {{Player.data.skill_magic}},
					max: {{Player.data.skill_magic_max}}
				},
				trade: {
					skill: {{Player.data.skill_trade}},
					max: {{Player.data.skill_trade_max}}
				}
			},
			level: {{Player.data.level}},
			experience: {{Player.data.experience}},
			quests: {{Player.data.quests}},
			questsMax: {{Player.data.max_quests}},
			storage: {{Player.data.storage}},
			storageMax: {{Player.data.max_storage}},
			cash: {{Player.data.cash}},
			rank: {{Player.data.rank}},
			fame: {{Player.data.fame}},
			favor: {{Player.data.favor}},
			skilled: {{Player.data.skilled}},
			place: "{{Player.data.place}}",
			location: "{{Player.data.location}}",
			rankString: "{{Player.data.rankString}}",
			inventory: [],
			equipment: {
				head: "{{Player.data.equipment.head}}",
				body: "{{Player.data.equipment.body}}",
				feet: "{{Player.data.equipment.feet}}",
				left: "{{Player.data.equipment.left}}",
				right: "{{Player.data.equipment.right}}"
			},
			equipmentStrings: {
				head: "{{Player.data.equipment.head}}",
				body: "{{Player.data.equipment.body}}",
				feet: "{{Player.data.equipment.feet}}",
				left: "{{Player.data.equipment.left}}",
				right: "{{Player.data.equipment.right}}"
			},
			skilled: {{Player.data.skilled}},
      cashToday: 0,
      expToday: 0,
      gutsToday: 0,
      witsToday: 0,
      charmToday: 0,
      totalGuts: {{Player.data.totalGuts}},
      totalWits: {{Player.data.totalWits}},
      totalCharm: {{Player.data.totalCharm}},
      totalAttack: {{Player.data.totalAttack}},
      totalDefend: {{Player.data.totalDefend}},
      questsToday: 0,
      totalGuildSkills: {{Player.data.totalGuildSkills}},
		};

		{{#each Player.inventory}}
			window.Player.inventory.push({
				id: {{id}},
				itemId: {{itmId}},
				region: "{{region}}",
				shop: "{{shop}}",
				baseGuts: {{baseGuts}},
				baseWits: {{baseWits}},
				baseCharm: {{baseCharm}},
				baseAttack: {{baseAttack}},
				baseDefend: {{baseDefend}},
				baseSkill: {{baseSkill}},
				cost: {{cost}},
				func: "{{func}}",
				equippable: {{equippable}},
				maxEnchants: {{maxEnchants}},
				isSilver: {{isSilver}},
				isCrystal: {{isCrystal}},
				qty: {{qty}},
				equipped: {{equipped}},
				identified: {{identified}},
				abilities: "{{abilities}}",
				guts: {{guts}},
				wits: {{wits}},
				charm: {{charm}},
				attack: {{attack}},
				defend: {{defend}},
				skill: {{skill}},
				timesEnchanted: {{timesEnchanted}},
				inStorage: {{inStorage}},
				requiredLevel: {{requiredLevel}},
				itemLevel: {{itemLevel}}
			});
		{{/each}}

		{{#each Player.equipment}}
			window.Player.equipment.push({
				id: {{id}},
				itemId: {{itmId}},
				region: "{{region}}",
				shop: "{{shop}}",
				baseGuts: {{baseGuts}},
				baseWits: {{baseWits}},
				baseCharm: {{baseCharm}},
				baseAttack: {{baseAttack}},
				baseDefend: {{baseDefend}},
				baseSkill: {{baseSkill}},
				cost: {{cost}},
				func: "{{func}}",
				equippable: {{equippable}},
				maxEnchants: {{maxEnchants}},
				isSilver: {{isSilver}},
				isCrystal: {{isCrystal}},
				qty: {{qty}},
				equipped: {{equipped}},
				identified: {{identified}},
				abilities: "{{abilities}}",
				guts: {{guts}},
				wits: {{wits}},
				charm: {{charm}},
				attack: {{attack}},
				defend: {{defend}},
				skill: {{skill}},
				timesEnchanted: {{timesEnchanted}},
				inStorage: {{inStorage}},
				requiredLevel: {{requiredLevel}},
				itemLevel: {{itemLevel}}
			});
		{{/each}}
		</script>
</head>
<body>
<div id="container" class="container"></div>
<script type="module" src='/js/entry.js'></script>
</body>
</html>