:root {
	--form-control-color: #175000;
}

input[type="radio"] {
	/* Add if not using autoprefixer */
	-webkit-appearance: none;
	appearance: none;
	/* For iOS < 15 to remove gradient background */
	background-color: transparent;
	/* Not removed via appearance */
	margin: 0;
	font: inherit;
	color: #175000;
	width: 1.15em;
	height: 1.15em;
	border: 0.15em solid currentColor;
	border-radius: 50%;
	display: grid;
	place-content: center;
}

input[type="radio"]::before {
	content: "";
	width: 0.65em;
	height: 0.65em;
	border-radius: 50%;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
	box-shadow: inset 1em 1em var(--form-control-color);
}

input[type="radio"]:checked::before {
	transform: scale(1);
}

input[type="radio"]:focus {
	outline: max(2px, 0.15em) solid #175000;
	outline-offset: max(2px, 0.15em);
}
