<div class="chatDiv">
 <div class="btn-group" role="group" aria-label="Chat Room">
  <button type="button" data-type="global" class="btn btn-secondary chatSelect">Global</button>
  <button type="button" data-type="guild" class="btn btn-secondary chatSelect">Guild</button>
  <button type="button" data-type="region" class="btn btn-secondary chatSelect">Region</button>
 </div>
 <ul class="chatHistory">{{{chat}}}</ul>
 <div class="chatMsgInput">
  <input type="text" name="chatPopInput"><input type="button" class="chatSubmit" name="chatSubmit" value="Chat">
 </div>
</div>