<div class="container">
	<!-- small screens -->
	<div class="d-block d-sm-none">
		<div class="row h-100">
			<div class="col-10">
				<div class="row">
					<div class="col-6"><span class="statsNameAndRank">{{nameAndRank}}</span></div>
					<div class="col-3">XP: <span class="statsExperience">{{experience}}</span></div>
					<div class="col-3">$<span class="statsCash">{{cash}}</span></div>
				</div>
				<div class="row">
					<div class="col-3">Guts: <span class="statsGuts">{{guts}}</span></div>
					<div class="col-3">Wits: <span class="statsWits">{{wits}}</span></div>
					<div class="col-3">Charm: <span class="statsCharm">{{charm}}</span></div>
				</div>
			</div>
				<div class="row">
				 <div class="col-3">Qsts: <span class="statsQuests">{{quests}}</span></div>
					<div class="col-3">Lvl: <span class="statsLevel">{{level}}</span></div>
					<div class="col-6"><span class="statsWeaponAndArmor">{{equippedWeaponAndArmor}}</span></div>
				</div>
			<div class="col-1">
				<input type="button" class="statBarButton btn btn-secondary" value="Inv">
			</div>
		</div>
	</div>
	<!-- larger screens -->
	<div class="d-none d-sm-block">
		<div class="row h-100">
			<div class="col-11">
				<div class="row">
					<div class="col-auto"><span class="statsNameAndRank">{{nameAndRank}}</span></div>
					<div class="col-2">Exp: <span class="statsExperience">{{experience}}</span></div>
					<div class="col-1">$<span class="statsCash">{{cash}}</span></div>
					<div class="col-2">Quests: <span class="statsQuests">{{quests}}</span></div>
					<div class="col-2">Level: <span class="statsLevel">{{level}}</span></div>
				</div>
				<div class="row">
					<div class="col-3">Guts: <span class="statsGuts">{{guts}}</span></div>
					<div class="col-3">Wits: <span class="statsWits">{{wits}}</span></div>
					<div class="col-3">Charm: <span class="statsCharm">{{charm}}</span></div>
					<div class="col-auto"><span class="statsWeaponAndArmor">{{equippedWeaponAndArmor}}</span></div>
				</div>
				<div class="row">
				 
				</div>
			</div>
			<div class="col-1">
				<input type="button" class="statBarButton btn btn-secondary" value="Inv">
			</div>
		</div>
	</div>
</div>


